body {
  margin: 0;
  background-image: linear-gradient(to left, #021121, #02152a, #001833, #001b3c, #001d45, #011c46, #021c46, #041b47, #04183f, #041438, #051030, #040b29);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
