body {
  margin: 0;
  background-image: linear-gradient(to right, #031621, #021522, #021524, #031425, #041326, #061226, #081227, #0a1127, #0d1027, #0f0f26, #120d26, #140c25);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
